node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Android/iOS
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
