<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>API_KEY</key><string>YOUR_API_KEY</string><key>GCM_SENDER_ID</key><string>YOUR_SENDER_ID</string><key>PLIST_VERSION</key><string>1</string><key>BUNDLE_ID</key><string>com.waymate.app</string><key>PROJECT_ID</key><string>YOUR_PROJECT_ID</string><key>STORAGE_BUCKET</key><string>YOUR_PROJECT_ID.firebasestorage.app</string><key>IS_ADS_ENABLED</key><false/><key>IS_ANALYTICS_ENABLED</key><false/><key>GOOGLE_APP_ID</key><string>YOUR_GOOGLE_APP_ID</string></dict></plist>
